# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# electron desktop app 용량이 너무 커서 깃에는 막아둠
dist/
*.exe
*.msi
*.zip
*.log
*storybook.log
storybook-static
