@font-face {
  font-family: "KoPubWorld_m";
  src: url("./fonts/KoPubWorld Dotum Medium.woff") format("woff");
}

@font-face {
  font-family: "KoPubWorld_b";
  src: url("./fonts/KoPubWorld Dotum Bold.woff") format("woff");
}

@font-face {
  font-family: "KoPubWorld_l";
  src: url("./fonts/KoPubWorld Dotum Light.woff") format("woff");
}
